* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Arial Narrow";
}

header {
  height: 30px;
  width: 100%;
  background-color: rgba(122, 199, 148, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}
